table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.centerElement {
    display: flex;
    justify-content: center;
}

#form input{
    margin: 5px;
}